<ion-view title="Create New Challenge" hide-back-button="true" style="background: #fff" hide-nav-bar="true">
    <ion-content padding="true">
        <div class="list">
            <!-- <label class="item item-input item-stacked-label">-->
            <!--    <span class="input-label">Friend</span>-->
            <!--    <input type="text" id="name" placeholder="Select Friend">-->
            <!--</label>-->
            <form novalidate name="createchallengeform" class="app-form" ng-submit="challenge.createChallenge(createchallengeform)">
                <label class="item item-input item-stacked-label">
                    <span class="input-label">Title</span>
                    <input type="text" placeholder="Enter challenge name" ng-model="challenge.name" required>
                </label>
                <label class="item item-input item-stacked-label">
                    <span class="input-label">Description</span>
                    <input type="text" placeholder="Enter challenge description" ng-model="challenge.description" required>
                </label>
                <label class="item item-input item-stacked-label">
                    <span class="input-label">Snapshot</span>
                    <div class="item item-thumbnail-left" href="#" ng-controller="CameraCtrl">
                        {{getThumbnail()}}
                        <img ng-src="{{getThumbnail()}}">
                        <p>
                            <a ng-click="getPhoto()" class="button icon-left ion-ionic">Take Snapshot</a>
                        </p>
                    </div>
                    <!--<div class="item item-avatar">-->
                    <!--<a class="item item-thumbnail-left" href="#">-->
                    <!--    <img ng-src="{{lastPhoto}}" style="max-width: 100%">-->
                    <!--</a>-->
                    <!--<h2>Marty McFly</h2>-->
                    <!--    <p>-->
                    <!--        <button ng-click="getPhoto()" class="button button-small button-positive">Take Photo</button>-->
                    <!--    </p>-->
                    <!--</div>-->
                    <!--<input type="text" placeholder="john@suhr.com">-->
                </label>

                <!--<button class="button button-block button-positive" ng-click="createChallegne(challenge)">-->
                <!--    Create Challenge-->
                <!--</button>-->
                {{photoUploaded}}
                test
                {{uploaded()}}
                <input ng-show="uploaded()" type="submit" class="button button-block button-positive" value=" Create Challenge" />
                <input ng-show="photoUploaded" type="submit" class="button button-block button-positive" value=" Create Challenge" />
            </form>
        </div>

    </ion-content>
</ion-view>